.resume-section {
  padding: 20px 40px;
  background-color: #1e1e1e;
  text-align: center;
}

.resume-header {
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
  font-weight: bold;
  min-height: 80px;
}


.resume-header-typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2.2s steps(30, end) forwards;
  width: 100%;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80ch; /* justér baseret på længden af linjen */
  }
}

#resume > div.resume-header > div > code > span {
  font-size: 2rem !important; /* Gør teksten større */
}

.resume-box {
  width: 80%;
  max-width: 600px;
  height: 775px;
  margin: 0 auto;
  background-color: #1e1e1e;
  overflow: hidden;
}

.resume-box embed {
  width: 100%;
  height: 100%;
}

.resume-download {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--comment-color);
  cursor: pointer;
  white-space: 'pre';
  vertical-align: middle;
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: 2px;
}

.resume-download:hover {
  text-decoration: underline;
}

.resume-pdf { display: block; width: 100%; height: 100%; }
.resume-img { display: none; max-width: 100%; height: auto; }

@media (max-width: 600px) {
  .resume-section {
    padding: 10px 0px;
  }

  .resume-pdf { display: none; }
  .resume-img { display: block; }
  .resume-box { height: auto; } 

  .resume-header {
    min-height: 50px;
    font-size: 1.1rem;
    width: 100vw;
  }

  .resume-header-typing {
    width: 100vw;
  }

  #resume > div.resume-header > div > code > span {
    font-size: 1rem !important;
  }

  .resume-box {
    width: 100vw;
    max-width: 100vw;
  }

  .resume-download {
    font-size: 1rem;
    margin-top: 12px;
    letter-spacing: 1px;
  }
}
