.resume-section {
  padding: 20px 40px;
  background-color: #1e1e1e;
  text-align: center;
}

.resume-header {
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
  font-weight: bold;
  min-height: 80px;
}


.resume-header-typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2.2s steps(30, end) forwards;
  width: 100%;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80ch; /* justér baseret på længden af linjen */
  }
}

#resume > div.resume-header > div > code > span {
  font-size: 2rem !important; /* Gør teksten større */
}

.resume-box {
  width: 80%;
  max-width: 600px;
  height: 775px;
  margin: 0 auto;
  background-color: #1e1e1e;
  overflow: hidden;
}

.resume-download {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--comment-color);
  cursor: pointer;
  white-space: 'pre';
  vertical-align: middle;
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: 2px;
}

.resume-download:hover {
  text-decoration: underline;
}
