.contact-section {
  text-align: center;
  padding: 40px 20px 60px 20px;
  background-color: #1e1e1e;
}

.contact-header {
  text-align: start;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 40px;
  margin-top: 0px;
  margin-bottom: 50px;
  min-height: 80px;

}

.contact-header-typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2.2s steps(30, end) forwards;
  width: 100%;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80ch;
  }
}

#contact > div.contact-header > div > code > span {
  font-size: 2rem !important; /* Gør teksten større */
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#contact > div.contact-content > pre > code > span {
  font-size: 1.4rem;
  margin: 0px !important;
}

#contact > div.contact-content > pre {
  margin: 0px !important;
}

.contact-icons {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.contact-icon {
  font-size: 50px;
  color: var(--variable-color);
  transition: transform 0.2s ease;
}

.contact-icon:hover {
  transform: scale(1.1);
  color: var(--keyword-color);
}

.contact-footer {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #333;
}

#contact > div.contact-content > div.contact-footer > pre > code > span {
  font-size: 1.2rem;
}

#contact > div.contact-content > div.contact-footer > pre {
  margin: 0px !important;
}

.contact-link {
  color: var(--string-color);
  text-decoration: none;
  transition: text-decoration 0.2s;
}

.contact-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--string-color);
}

@media (max-width: 600px) {
  .contact-section {
    padding: 20px 0px 40px 0px;
    width: 100vw;
  }

  .contact-header {
    padding-left: 0px;
    min-height: 50px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    width: 100vw;
  }

  #contact > div.contact-header > div > code > span {
    font-size: 1rem !important;
  }

  .contact-image {
    width: 90px;
    height: 90px;
    margin-bottom: 8px;
  }

  #contact > div.contact-content > pre > code > span {
    font-size: 0.8rem;
  }

  #contact > div.contact-content > div {
    font-size: 0.8rem;
  }

  .contact-icons {
    gap: 16px;
    margin: 14px 0;
  }

  .contact-icon {
    font-size: 32px;
  }

  .contact-footer {
    font-size: 1rem;
    margin-top: 12px;
    width: 100vw;
  }

  #contact > div.contact-content > div.contact-footer > pre {
    padding: 0px !important;
  }

  #contact > div.contact-content > div.contact-footer > pre > code > span {
    font-size: 0.6rem;
  }
}
