.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px 40px;
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-menu a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--variable-color);
  font-weight: 600;
}

.nav-menu a:hover {
  color: var(--keyword-color);
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: end;
  align-items: center;
}

.social-icons a {
  margin-left: 15px;
  font-size: 1.4rem;
  color: var(--variable-color);
  transition: color 0.2s ease;
}

.social-icons a:hover {
  color: var(--keyword-color);
}

.nav-menu a.active {
  color: var(--type-color);
  border-bottom: 2px solid var(--type-color);
}

