.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.editor-container {
  display: flex;
  height: calc(100vh - 80px);
}

.output-box {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.output-box h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #1f2937;
  transition: all 0.3s ease;
  margin-top: 10px;
  font-weight: 900;
}

.output-box h2 {
  margin-bottom: 10px;
  color: #1f2937;
  transition: all 0.3s ease;
  margin-top: 0px;
}


.output-box p {
  font-size: 1.2rem;
  color: #374151;
  max-width: 500px;
  transition: all 0.3s ease;
  margin-top: 10px;
  font-style: italic;
}

.highlight {
  color: #0070f3; /* fx blå */
  font-weight: bold;
}


.code-editor {
  flex: 1;
  background-color: #1e1e1e;
  padding: 40px;
  overflow: auto;
  overflow-y: auto;
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-direction: column;
}

.code-block {
  margin-bottom: 40px;
}

.code-label {
  color: #ccc;
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.syntax-box .react-syntax-highlighter-line-number {
  color: #858585;
}

.code-editor pre {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
}

.tech-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 30px;
  font-size: 2rem;
}

.intro-video-section {
  margin-top: 40px;
  text-align: center;
}

.intro-question {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.video-placeholder {
  width: 700px;
  height: 400px;
  margin: 0 auto;
  background-color: #1e1e1e;
  color: white;
  font-size: 1rem;
}

.video-placeholder video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

