.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 0.9rem;
    color: #6b7280;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .footer-content {
        font-size: 0.6rem;
    }
    
}