.App {
  text-align: center;
  background-color: #ffffff;

}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;

}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #111;
}
